*{
    border: 0;
    margin: 0;
}

header{
    padding-left: 3vw;
    padding-top: 3vh;
    padding-right: 3vw;
    background-color: rgb(30,10,40);
    color: rgb(255,255,255); /*colorrrrrrrrrrorororoorororo*/
}
nav{
    display: flex;
    width: 100%;
}
.header_options{
    text-align: left auto;
    list-style-type: none;
    display: flex;
    width: 100%;
    gap: 1%;
}
.header_options li{
    width: 10%;
}
.header_name{
    text-align: center;
    align-content: center;
    height: 95.1vh;
    color: rgb(255,255,255); /*colorrrrrrrrrrorororoorororo*/
    font-size: 120%;
}