*{
    border: 0;
    margin: 0;
}
.negrita{
    font-weight: bold;
}

header{
    padding-left: 3vw;
    padding-top: 3vh;
    padding-right: 3vw;
    background-color: rgb(30,10,40);
    justify-content: center;
    color: rgb(255,255,255); /*colorrrrrrrrrrorororoorororo*/
}
nav{
    display: flex;
    width: 100%;
}
.img_head{
    width:25%;
    height: auto;
}
.header_options{
    padding-left: 40%;
    text-align: left;
    list-style-type: none;
    display: flex;
    width: 100%;
    gap: 2%;
}
.header_options li{
    width: 20%;
}
.header_options li a{
    text-decoration: none;
    color: rgb(255,255,255);
}
.header_name{
    text-align: center;
    align-content: center;
    height: 95.1vh;
    color: rgb(255,255,255); /*colorrrrrrrrrrorororoorororo*/
    font-size: 120%;
}




.about_me{
    padding: 2%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    height: auto;
    border: solid 2px rgb(0, 0, 0);
}
.about_me_A{
    display:block;
}

